<div class="row">
   <ul data-orbit class="example-orbit">
    <li>
      <img src="http://placehold.it/1000x300/EE964D/fff" alt="slide 1" />
      <div class="orbit-caption">
        Caption One.
      </div>
    </li>
    <li class="active">
      <img src= "http://placehold.it/1000x300/EE964D/fff"alt="slide 2" />
      <div class="orbit-caption">
        Caption Two.
      </div>
    </li>
    <li>
      <img src="http://placehold.it/1000x300/FDC43D/fff" alt="slide 3" />
      <div class="orbit-caption">
        Caption Three.
      </div>
    </li>
  </ul>
</div>

<div class="row">
<article>
<div>
<h2>Sponsowl News</h2>
</div>

<div class="small-8 columns">
<p>

Baladewa sedang melakukan konser

Baladewa sedang melakukan konser

Baladewa sedang melakukan konser

Baladewa sedang melakukan konser
Baladewa sedang melakukan konser

Baladewa sedang melakukan konser

Baladewa sedang melakukan konser

</p>
</div>

<div>
<a href="#">Read More</a>
</div>
</article>

<aside class="small-4 columns">
<div class="row">
<ul class="side-nav">
<li><a href="#">Read More</a></li>
<li><a href="#">Read More</a></li>
<li><a href="#">Read More</a></li>
<li><a href="#">Read More</a></li>
</ul>
</div>
</aside>
</div>